<table border=1>
    <tr>
        <th>Photo</th>
        <th>First Name</th>
        <th>Gender</th>
        <th>Age</th>
    </tr>
    <tr>
        <% for(const user of userList) { %>
            <tr>
                <td><img src=<%=user.picture.medium%> alt=""></td>
                <td><%=user.name.first%></td>
                <td><%=user.gender%></td>
                <td><%=user.dob.age%></td>

            </tr>
        <% } %>
    </tr>
    <tr>
        <td>

        </td>
        <td>
            Average Age
        </td>
        <td>
            <%= avg %>
        </td>
    </tr>
</table>
